<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            width: 400px;
            height: 100px;
        }

        div {
            line-height: 100px;
            font-size: 42px;
            text-align: center;
        }
    </style>
    <script src="js/option.js"></script>
    <!--<link rel="stylesheet" href="demo/demo0/css/main.css" />-->
</head>
<body>
待盖楼网址：<input type="text" id="url" />
<input type="button" id="save" value="保存" />
<div id="status"></div>
<script src="../js/plugin/jquery-3.2.1.min.js"></script>
<script src="../js/option.js"></script>
</body>
</html>