<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            width: 400px;
            height: 100px;
        }

        div {
            line-height: 100px;
            font-size: 42px;
            text-align: center;
        }
    </style>
    <script src="../../script/jquery-3.2.1.min.js"></script>
    <script src="./js/main.js"></script>
    <link rel="stylesheet" href="./css/main.css" />
</head>
<body>
<button >开始提交</button>
</body>
</html>